<%- include("partials/header"); -%>

    <body>
        <div class="container">
            <form class="" action="/" method="post">
                <div class="form-group mb-3">

                    <label>Name </label>
                    <input class="form-control" type="text" name="name" required>
                    <label>What type of kitchen layout?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="first_question" id="first_question1">
                        <label class="form-check-label" for="first_question1">
                            Straight
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="first_question" id="first_question2">
                        <label class="form-check-label" for="first_question2">
                            with an island
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="first_question" id="first_question3">
                        <label class="form-check-label" for="first_question3">
                            U-shaped
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="first_question" id="first_question4">
                        <label class="form-check-label" for="first_question4">
                            L-shaped
                        </label>
                    </div>

                    <!-- <label>What style is the kitchen? </label> -->
                    <div class="form-group form-group-image-checkbox">
                        <label>What style is the kitchen? </label>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-control form-checkbox image-checkbox">
                                    <input type="checkbox" class="form-control-input" id="ck2a" name="ck2">
                                    <label class="form-control-label" for="ck2a"> Modern
                                        <img src="/images/1.jpg" alt="#" class="img-fluid">
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-control form-checkbox image-checkbox">
                                    <input type="checkbox" class="form-control-input" id="ck2b" name="ck2">
                                    <label class="form-control-label" for="ck2b"> Provence
                                        <img src="/images/1.jpg" alt="#" class="img-fluid">
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-control form-checkbox image-checkbox">
                                    <input type="checkbox" class="form-control-input" id="ck2c" name="ck2">
                                    <label class="form-control-label" for="ck2c"> Classic
                                        <img src="/images/1.jpg" alt="#" class="img-fluid">
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-control form-checkbox image-checkbox">
                                    <input type="checkbox" class="form-control-input" id="ck2d" name="ck2"
                                        value="minimalism">
                                    <label class="form-control-label" for="ck2d"> Minimalism
                                        <img src="/images/1.jpg" alt="#" class="img-fluid">
                                    </label>
                                </div>
                            </div>
                            <label>Estimated budget?</label>
                            <input class="form-control" type="text" name="budget" required>

                            <label>Contact Number</label>
                            <input class="form-control" type="text" name="number" required>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <%- include("partials/footer"); -%>