<%- include("partials/header"); -%>

    <body>
        <div class="container">
            <h1>
                Thank you for fill up details.
                <h3>
                    Our Team soon contact you !!!
                </h3>
            </h1>
<%- include("partials/footer"); -%>